
.landingpage .coverImage {
    max-width: 50%;
    max-height: 400px;
}

.landingpage .logo {
    height: 2em;
    padding-right: 2px;
}

.landingpage .logoTitle {
    font-family: 'Josefin Sans' , sans-serif;
    font-weight: lighter;
    padding-top: 10px;
}


.fuwafuwa {
    animation-name: fuwafuwa;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate();
    }
    50% {
        transform: translate(0, -10px) rotate(0deg);
    }
    100% {
        transform: translate(0, 0)rotate();
    }
}